<section class="p-10 bg-yellow-200 text-black rounded-lg shadow-lg">
    <h3 class="font-extrabold text-5xl text-center">{{recipe.name}}</h3>
    <h4 class="mt-4 text-center italic font-medium">Contributed by: {{recipe.user.name}}</h4>

    <div class="flex flex-col items-center">
        <div class="w-2/5">
            <img class="rounded-lg shadow-lg my-4" src="{{recipe.category.image}}" alt="image of {{recipe.category.name}}" />
        </div>
        <div class="flex flex-col">
            <p class="bg-lime-300 my-10 rounded-lg shadow-lg p-2">{{recipe.description}}</p>
        </div>
    </div>

    <div class="mb-10">
        <ul class="font-extrabold text-xl list-disc" id="ingredients">Ingredients: </ul>
        <p class="hidden"  value="1" id="totalIngs">{{recipe.instructions}}</p>
    </div>

    <div class="mb-10">
        <ul class="font-extrabold text-xl list-disc" id="steps">Instructions: </ul>
        <p class="hidden" value="1" id="totalSteps"></p>
    </div>

    <div>
        <div id="reviewHeader">
            <h2 class="font-extrabold text-xl">Rate this Recipe!</h2>
        </div>
        
        {{#if logged_in}}                            
        <button class="bg-lime-300 border-2 border-black border-single rounded-md px-4" onclick="addReview()" id="addReview">Add a Review</button>            
        {{/if}}
        <div id="allReviews">
        {{#each recipe.reviews as |review|}}
        <h2>{{recipe.review.user_id}}</h2>
        {{> reviews-details}}
        {{/each}}
        </div>
    </div>


</section>

<script src="/js/recipeScript.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>

