<section class="p-10 bg-yellow-200 text-black rounded-lg shadow-lg">
    <h3 class="font-extrabold text-5xl text-center">{{recipe.name}}</h3>

    <div class="flex flex-row items-center">
        <div class="flex flex-col p-10 w-3/5">
            <p class="bg-lime-300 my-10 rounded-lg shadow-lg p-4">{{recipe.description}}</p>
        </div>
        <div class="w-2/5">
            <img class="rounded-lg shadow-lg my-4" src="{{recipe.category.image}}" alt="image of {{recipe.category.name}}"/>
        </div>
    </div>

    <div class="mb-10">
        <ul class="font-extrabold text-xl list-disc" id="ingredients">Ingredients: </ul>
        <p class="hidden"  value="1" id="totalIngs">{{recipe.instructions}}</p>
    </div>

    <div class="mb-10">
        <ul class="font-extrabold text-xl list-disc" id="steps">Instructions: </ul>
        <p class="hidden" value="1" id="totalSteps"></p>
    </div>

    <div>
        <div id="reviewHeader">
            <h2>Rate this Recipe!</h2>
        </div>
        
        {{#if logged_in}}                            
        <button class="bg-lime-300 border-2 border-black border-single rounded-md" onclick="addReview()" id="addReview">Add a Review</button>            
        {{/if}}
        <div id="allReviews">
        {{#each recipe.reviews as |review|}}
        {{> reviews-details}}
        {{/each}}
        </div>
    </div>


</section>

<script src="/js/recipeScript.js"></script>

